/**
 * 
 */
#repair-node-form .vertical-tabs {
  /* display: none; */
}

#repair-node-form .form-item input.form-control,
#repair-node-form .form-item select.form-control{
  /* width: auto; */
}

#repair-node-form .field-widget-date-select fieldset{
  margin: 0;
  padding: 0;
  border: 0 none;
}

#repair-node-form .field-widget-date-select fieldset .panel-body,
#repair-node-form .field-widget-date-select fieldset .panel-body .date-padding{
  padding: 0;
}
#repair-node-form .field-widget-date-select legend{
  display: none;
}

