#repair-node-form .vertical-tabs {
  display: none;
}

#edit-create-date.date-padding{
  padding: 0px;
}

.page-node-add-repair #edit-field-repair-quote-status,
.page-node-edit.node-type-repair #edit-field-repair-quote-status {
  display: none;
}

#block-quotetype-quotetype-ajax-stamp #edit-delete-link.form-group {
  margin-bottom: 0px;
}
